/*-----------------------------------------------------
Modifiche per lo sfondo, il main content e le sezioni specifiche dell'homepage quando sei loggato
-----------------------------------------------------*/

.profile-section {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.profile-section h1,
.profile-section h2,
.profile-section h4 {
  margin: 10px;
  color: #003049;
}



/* ------------------------------------------------------
Stili per le card dei libri e delle categorie
------------------------------------------------------ */

/* Stile per le card dei libri */
.book-card {
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Effetto hover per le card dei libri */
.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Immagine della copertina del libro */
.book-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* Informazioni sul libro (titolo e autore) */
.book-info {
  width: 100%;
}

/* Titolo del libro */
.book-info .book-title {
  font-size: 20px;
  font-weight: bold;
  color: #003049;
  white-space: nowrap; /* Evita che il testo vada a capo */
  overflow: hidden; /* Nasconde il testo in eccesso */
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione quando il testo è in eccesso */
}

/* Autore del libro */
.book-info .book-author {
  font-size: 15px;
  color: #669bbc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



