<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBR - Challenge</title>
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/challenge.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="homepage">
    <header class="header">
        <div class="header-content-wrapper">
            <div class="logo">
                <a href="/"><h1>LOGO TBR</h1></a>
            </div>
            <div class="search-bar">
                <i class="fas fa-search search-icon"></i>
                <input type="text" placeholder="Cerca libro...">
            </div>
            <div class="user-actions">
                <div class="language-dropdown">
                    <span class="current-language" data-lang="it">Italiano - IT <i class="fas fa-caret-down"></i></span>
                    <div class="language-options">
                        <a href="#" data-lang="en">English - EN</a>
                        <a href="#" data-lang="es">Italiano - IT</a>
                    </div>
                </div>
                <a href="profile.html" class="login-button">profile icon da sistemare</a>
            </div>
        </div>
    </header>

    <div class="subheader">
        <div class="subheader-content-wrapper">
            <a href="#" class="subheader-item">
                <div class="circle-icon"><i class="fas fa-fire"></i></div>
                <span>Novità</span>
            </a>
            <a href="#" class="subheader-item">
                <div class="circle-icon"><i class="fas fa-star"></i></div>
                <span>Bestseller</span>
            </a>
            <a href="#" class="subheader-item">
                <div class="circle-icon"><i class="fas fa-trophy"></i></div>
                <span>Challenge</span>
            </a>
            <a href="#" class="subheader-item">
                <div class="circle-icon"><i class="fas fa-list"></i></div>
                <span>Liste</span>
            </a>
        </div>
    </div>

    <div class="main-background-container">
        <main class="main-content-wrapper">
            <section class="hero-section">
                <h2>Le tue challenge</h2>
            </section>
            <div class="challenge-page-grid">
            <div class="challenge-card">
                <h2>Challenge disponibili</h2>
                <div class="challenge-search-bar">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" placeholder="Cerca challenge...">
                </div>
            </div>
            <div class="right-challenge-container">
                <div class="create-challenge-card">

                </div>
                <div class="your-challenges-card">
                    
                </div>
                <div class="done-challenges-card">

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content-wrapper">
            <div class="logo">
                <h1>LOGO TBR</h1>
            </div>
            <div class="copyright">
                <p>&copy; Copyright 2023 | Condizioni d'uso | Informativa sulla privacy | Cookies</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/layout.js"></script>
</body>
</html>