<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBR - Homepage</title>

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/home-logged.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="homepage">
    <header class="header">
        <div class="header-content-wrapper">
            <div class="logo">
                <a href="/Home">
                    <h1 style="margin:0;">
                        <img src="/img/logo.png" alt="Logo TBR" class="logo-img">
                    </h1>
                </a>
            </div>
            <div class="search-bar" style="position:relative;">
                <i class="fas fa-search search-icon"></i>
                <form id="searchForm" action="/libri/filter" method="get" style="width:100%;">
                    <input id="bookSearchInput" name="title" type="text" placeholder="Cerca libro..." autocomplete="off">
                    <div id="autocomplete-results"></div>
                </form>
            </div>
            <div class="user-actions">
                <div class="language-dropdown">
                    <span class="current-language" data-lang="it">Italiano - IT <i class="fas fa-caret-down"></i></span>
                    <div class="language-options">
                        <a href="#" data-lang="it">Italiano - IT</a>
                    </div>
                </div>
                <div class="profile-menu-container">
                    <div class="profile-icon profile-menu-toggle">
                        <img th:src="@{'/img/animali/' + ${animalImg}}" alt="Avatar utente" class="profile-icon">
                    </div>
                    <div class="hamburger-menu-content">
                        <a href="/profile" class="menu-item"><i class="fas fa-user-circle"></i> Il mio profilo</a>
                        <a href="/Challenge" class="menu-item"><i class="fa-solid fa-medal"></i> Le mie challenge</a>
                        <a href="/libri" class="menu-item"><i class="fas fa-book"></i> Tutti i libri</a>
                        <a href="" class="menu-item logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main-background-container">
        <main class="main-content-wrapper">
            <div class="main-hero-grid">
                <div class="hero-title">
                    Lectio dat intellectum.
                </div>
                <div class="profile-section">
                    
                    <a href="/profile">
                        <div class="home-profile-avatar-container">
                            <img th:src="@{'/img/animali/' + ${animalImg}}" alt="Avatar utente" class="home-profile-avatar">
                        </div>
                        <div>
                            <h1 th:text="'Ciao, ' + ${user.username} + '!'">Ciao, Nome Utente!</h1>
                            <h2 th:text="${libriLetti}">0</h2>
                            <h6>Punti</h6>
                            <h4 th:text="${livello}">Livello</h4>
                        </div>
                    </a>
                </div>
            </div>
            
            <section class="books-section">
                <div class="section-header">
                    <h3><i class="fas fa-star"></i> Libri più letti</h3>
                </div>
                <div class="books-grid">
                    <div class="book-card" th:each="libro : ${libriPiuLetti}">
                        <img th:src="@{${libro.cover}}" th:alt="${libro.title}">
                        <div class="book-info">
                            <h4 class="book-title" th:text="${libro.title}">Titolo</h4>
                            <p class="book-author" th:text="${libro.author}">Autore</p>
                            <p class="book-description" th:text="${libro.description}">Descrizione</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="books-section">
                <div class="section-header">
                    <h3><i class="fas fa-feather-alt icon"></i>Ultime uscite</h3>
                </div>
                <div class="books-grid">
                    <div class="book-card" th:each="libro : ${ultimeUscite}">
                        <img th:src="@{${libro.cover}}" th:alt="${libro.title}">
                        <div class="book-info">
                            <h4 class="book-title" th:text="${libro.title}">Titolo</h4>
                            <p class="book-author" th:text="${libro.author}">Autore</p>
                            <p class="book-description" th:text="${libro.description}">Descrizione</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="categories-section">
                <div class="section-header">
                    <h3><i class="fas fa-tags icon"></i>Categorie</h3>
                    <a href="#" class="view-all">Visualizza tutto</a>
                </div>
                <div class="categories-grid">
                    <a th:href="@{'/libri/filter?genre=Thriller'}" class="category-card thriller"><h4>Thriller</h4></a>
                    <a th:href="@{'/libri/filter?genre=Letteratura'}" class="category-card letteratura"><h4>Letteratura</h4></a>
                    <a th:href="@{'/libri/filter?genre=Avventura'}" class="category-card avventura"><h4>Avventura</h4></a>
                    <a th:href="@{'/libri/filter?genre=Fantasy'}" class="category-card fantasy"><h4>Fantasy</h4></a>
                    <a th:href="@{'/libri/filter?genre=Classico'}" class="category-card classico"><h4>Classico</h4></a>
                    <a th:href="@{'/libri/filter?genre=Romanzo'}" class="category-card romanzo"><h4>Romanzo</h4></a>
                    <a th:href="@{'/libri/filter?genre=Drammatico'}" class="category-card drammatico"><h4>Drammatico</h4></a>
                    <a th:href="@{'/libri/filter?genre=Storico'}" class="category-card storico"><h4>Storico</h4></a>
                </div>
            </section>
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content-wrapper">
            <div class="logo">
                <h1>LOGO TBR</h1>
            </div>
            <div class="copyright">
                <p>&copy; Copyright 2023 | Condizioni d'uso | Informativa sulla privacy | Cookies</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
    <script th:inline="javascript">
        window.allLibriData = /*[[${libri}]]*/ [];
    </script>
    <script src="/js/autocomplete-script.js"></script>
    

</body>
</html>