
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Tutti i Libri - TBR</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/libri-tutti.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
    .book-description {
        font-size: 0.9em;
        color: #555;
        margin-top: 5px;
        display: none;
    }
    .book-card:hover .book-description {
        display: block;
    }
    .book-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
    }
  .book-info {
  z-index: 2;
}

    
    </style>
</head>
<body class="homepage">
<header class="header">
    <div class="header-content-wrapper">
        <div class="logo">
                <a href="/Home">
                    <h1 style="margin:0;">
                        <img src="/img/logo.png" alt="Logo TBR" class="logo-img">
                    </h1>
                </a>
            </div>
        <div class="search-bar" style="position:relative;">
                <i class="fas fa-search search-icon"></i>
                <form id="searchForm" action="/libri/filter" method="get" style="width:100%;">
                    <input id="bookSearchInput" name="title" type="text" placeholder="Cerca libro..." autocomplete="off">
                    <div id="autocomplete-results"></div>
                </form>
            </div>
        <div class="user-actions">
            <div class="language-dropdown">
                    <span class="current-language" data-lang="it">Italiano - IT <i class="fas fa-caret-down"></i></span>
                    <div class="language-options">
                        <a href="#" data-lang="it">Italiano - IT</a>
                    </div>
                </div>
            <div class="profile-menu-container">
                    <div class="profile-icon profile-menu-toggle">
                        <img th:src="@{'/img/animali/' + ${animalImg}}" alt="Avatar utente" class="profile-icon">
                    </div>
                    <div class="hamburger-menu-content">
                        <a href="/profile" class="menu-item"><i class="fas fa-user-circle"></i> Il mio profilo</a>
                        <a href="/Challenge" class="menu-item"><i class="fa-solid fa-medal"></i> Le mie challenge</a>
                        <a href="/libri-tutti" class="menu-item"><i class="fas fa-book"></i> Tutti i libri</a>
                        <a href="" class="menu-item logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
        </div>
    </div>
</header>

<div class="main-background-container">
    <main class="main-content-wrapper">
        <section class="books-section">
            <div class="section-header">
                <h3><i class="fas fa-book icon"></i> Tutti i libri</h3>
                <h3><span>Totale: <strong th:text="${libri.size()}">50</strong> libri</span></h3>
            </div>
            <div class="books-grid">
                <div class="book-card" th:each="libro : ${libri}">
                    <img th:src="@{${libro.cover}}" th:alt="${libro.title}">
                    <div class="book-info">
                        <h4 class="book-title" th:text="${libro.title}">Titolo</h4>
                        <p class="book-author" th:text="${libro.author}">Autore</p>
                        <p class="book-description" th:text="${libro.description}">Descrizione</p>
                        <form th:action="@{/libri}" method="post">
                            <input type="hidden" name="bookId" th:value="${libro.id}" />
                            <button type="submit" class="btn btn-primary">Aggiungi alla libreria</button>
                        </form>
                    </div>
                </div>
            </div>
            <button id="openFilterModalBtn" class="btn btn-primary mt-3">Filtra Avanzato</button>
            <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterModalLabel">Filtri di Ricerca Avanzata</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Chiudi</button>
                            </div>
                            <div class="modal-body">
                                <form id="filterForm">
                                    <input type="hidden" name="genre" th:value="${param.genre}">
                                    <div class="mb-3">
                                        <h5><label for="filterTitle" class="form-label">Titolo:</label></h5>
                                        <input type="text" class="form-control" id="filterTitle">
                                    </div>
                                    <div class="mb-3">
                                        <h5><label for="filterAuthor" class="form-label">Autore:</label></h5>
                                        <input type="text" class="form-control" id="filterAuthor">
                                    </div>
                                    <div class="mb-3">
                                        <h5><label for="filterGenre" class="form-label">Genere:</label></h5>
                                        <input type="text" class="form-control" id="filterGenre">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button type="button" class="btn btn-primary" id="applyFiltersBtn">Applica Filtri</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<footer class="footer">
    <div class="footer-content-wrapper">
        <div class="logo"><h1>LOGO TBR</h1></div>
        <div class="copyright">
            <p>&copy; Copyright 2023 | Condizioni d'uso | Informativa sulla privacy | Cookies</p>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>
 <script th:inline="javascript">
            // Thymeleaf inietta la lista di libri qui dentro
            // Assicurati che il controller passi la lista con nome "libri"
            window.allLibriData = /*[[${libri}]]*/ [];
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="/js/autocomplete-script.js"></script>
        <script src="/js/filtri.js"></script>
</body>
</html>
